<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar>
        <input type="checkbox" id="check"> 
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> 
     
        <ul class="nav-menu">
            <a class="active" href="#">INICIO</a>
            <li><a href="#">MI PERFIL</a></li>
            <li><a href="#">REPORTES</a></li>
            <li><a href="#">HISTORIAL</a></li>
            <li><a href="#">CONTACTOS</a></li>
            <li><a href="#">ARCHIVOS</a></li>
        </ul>
    </mat-toolbar>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>
