<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'side'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> menu </mat-icon>
  </button>
  PAXT
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav  #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="content">
      <router-outlet></router-outlet>
    </div> -->

    <div style="text-align: center;">
      <h1>REGISTRARSE</h1>
  </div>

  
  <form [formGroup]="form" (submit)="aceptar()">
    <div style="text-align: center;">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput required placeholder="Nombre" formControlName="nombre">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Empresa</mat-label>
        <input matInput placeholder="Paxton-MST" formControlName="empresa" required>
      </mat-form-field>
      <br>
    
      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Paxton-MST" formControlName="usuario" required>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Paxton-MST" formControlName="contrasenia" required>
      </mat-form-field>
      <br>
    </div>
    
    <div style="text-align: center;">

    <button color="primary" mat-raised-button>Aceptar</button>
    <button class="btn-2" mat-raised-button routerLink="/authors">Cancelar</button>
    <br>

    </div>

    <p>{{mensaje}}</p>
  </form>
  
  </mat-sidenav-content>
</mat-sidenav-container>



  
